body {
    background-image: url("background.avif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #111;
}
.logo {
    color: rgba(255, 255, 255, 0);
    font-size: 2.5em;
    margin: 0;
}
.top-header {
  border-radius: 18px;
  padding: 8px 0;
  margin-bottom: 50px;
}
.main-nav a {
  color: rgba(255, 255, 255, 0.459);
  text-decoration: none;
  margin: 0 52px;
  font-size: 1.2em;
}
.main-nav a:hover {
  text-decoration: underline;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
}
.bienvenida {
  color: rgba(255, 255, 255, 0.459);
  margin: 4px 0 0;
  font-weight: 600;
}
.card {
  width: 300px;
  height: 400px;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 80px;
  background-color: #24233b;
  border-radius: 8px;
  z-index: 1;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgb(73, 70, 92);
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 10px 10px black;
}

.top {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.circle1 {
  padding: 0 4px;
}

.circle2 {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.header {
  margin: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

#title2 {
  color: white;
  padding-left: 50px;
  font-size: 15px;
}

.code-container {
  text-align: center;
}
#code {
  width: 270px;
  height: 350px;
  resize: none;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}
#code:focus {
  outline: none !important;
}
.contenedor-centro {
  position: fixed; 
  top: 30%;           
  left: 70%;          
  transform: translate(-50%, -50%);
  z-index: 100;       
  width: 90%;         
  max-width: 500px;  
  pointer-events: none; 
}

.tarjeta-centro {
  background-color: rgba(20, 20, 25, 0.8);
  color: white;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2); 
  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}